<!DOCTYPE html>
<html>
    <head>
        <title>Game Time!</title> 
    <body>
        <form action="/madlib">
            <input type="text" id="color" name="color" value="color">
            <input type="text" id="noun" name="noun" value="noun">
            <input type="text" id="adjective" name="adjective" value="adjective">
            <br><br>
            <label for="place">Choose a place from the dropdown menu:</label>

            <select name="place" id="place">
                <option value="San Diego">San Diego</option>
                <option value="San Francisco">San Francisco</option>
                <option value="Hawaii">Hawaii</option>
            </select><br><br>

            <label for="celebrities">Choose a celebrity:</label>
            <input type="checkbox" id="gwyn" name="celebrities" value="Gwyneth Paltrow">
            <label for="gwyn">Gwyneth Paltrow</label>
            <input type="checkbox" id="sel" name="celebrities" value="Selena Gomez">
            <label for="sel">Selena Gomez</label>
            <input type="checkbox" id="mor" name="celebrities" value="Morgan Freeman">
            <label for="mor">Morgan Freeman</label>

            <button type="submit">Submit your stuff!</button>
        </form>

<!-- Checkbox, if you change the ID to label for, the names of your checkbox names will be clickable  -->
<!-- When you check multiple boxes in a checkbox list, you'll only get the first element returned. However, you can iterate through that and get a split string of letters -->